<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Plaisir Selection International</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
	<style>
      body {
        padding-top: 60px;
      }
    </style>
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Plaisir Selection International</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li> 
              <li class="<%= 'active' if request.path.starts_with?(clients_path) %>"><a href="<%= clients_path %>">Clients</a></li>
			  <li class="<%= 'active' if request.path.starts_with?(suppliers_path) %>"><a href="<%= suppliers_path %>">Suppliers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
		<%- if notice.present? -%>
		<div class="alert alert-success alert-block">
			<%= notice %>
		</div>
		<%- end -%>
	  <%= yield %>
    </div>
  </body>
</html>
